<!DOCTYPE html>
<html>
<head>
  <title>Vue</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</head>
<body>

  <div id="app">
    <h1 v-if="isLoggedIn">{{message}} {{username}}</h1>
    <h1 v-if="!isLoggedIn">Anon user</h1>
  </div>

</body>
</html>

<div id="app">
  <h1> {{message}} {{username}} </h1>
</div>




<div id="isLoggedIn"> {{message}} {{username}} <h1>


<div id="isLoggedIn"> {{message}} {{username}} <h1>


<div id="isLoggedIn"> {{message}} {{username}}</div>

<div id="isLoggedIn"> {{message}} {{username}}</div>


<div id="isLoggedIn"> {{message}} {{username} </div>divv}
